{{template "comm/head.html"}}
{{/*{{template "comm/navigationbar.html" .}}*/}}
{{/*{{template "comm/banner.html"}}*/}}
{{/*{{template "comm/flow.html"}}*/}}
<div>
{{template "comm/top.html" .}}
{{template "comm/banner.html"}}
    {{/*<div id="nav">*/}}
        {{/*nav*/}}
    {{/*</div>*/}}
    {{template "comm/navigationbar.html"}}
    <div id="content">
        <div class="content-left">
            content
        </div>
        <div class="content-right-sup">
            title
        </div>
        <div class="content-right-recommend">
            推荐
        </div>
        <div class="content-right-rank">
            排行榜
        </div>
    </div>
    <div style="background-color: #3C6E31;height: 100px;">
        foot
    </div>
</div>
{{template "comm/foot.html"}}
