<div>
    <div class="layui-carousel" id="banner">
        <div carousel-item>
        {{range .row}}
            <div><a href="{{.Link}}"><img
                    src="{{.Icon}}"
                    width="100%;" alt="{{.Descript}}"></a></div>
        {{end}}
        </div>
    </div>
</div>

<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        carousel.render({
            elem: '#banner'
            , width: '100%' //设置容器宽度
            // ,arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });
    })
</script>