<div>
    <ul class="flow-default img" style="width: 1190px;"></ul>
</div>
<script>
    layui.use('flow', function () {
        var flow = layui.flow;
        flow.load({
            elem: '.flow-default' //流加载容器
            , scrollElem: '.flow-default' //滚动条所在元素，默认document
            // , isAuto: false
            // , end: '没了'
            , isLazyimg: true
            , done: function (page, next) { //加载下一页
                console.log(page)
                setTimeout(function () {
                    var lis = [];
                    for (var i = 0; i < 6; i++) {
                        lis.push('<li><img lay-src="static/mingzu/img/' + i + '.jpg?v=' + (page + i) + '" style="width: 100%;"></li>')
                    }
                    next(lis.join(''), page < 3);
                }, 500);
            }
        });
        //按屏加载图片
        flow.lazyimg({
            elem: '.demo img'
            , scrollElem: '.demo'
        });
    })
</script>