<div>
    <ul class="layui-nav layui-layout">
        <li class="layui-nav-item"><a href=""> {{.siteName}}{{.version}}</a></li>
        <li class="layui-nav-item layui-this">
            <a href="javascript:;">北京</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">上海</a></dd>
                <dd><a href="javascript:;">深圳</a></dd>
                <dd><a href="">贵阳</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">微信<span class="layui-badge-dot"></span></a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">手机app</a>
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
        {{if gt .userId 0}}
            <a href="/loginOut"><i class="layui-icon">&#xe612;</i>{{.userName}},退出</a>
        {{else}}
            <a href="/login"><i class="layui-icon">&#xe612;</i>登录/注册</a>
        {{end}}
        </li>
    {{if gt .userId 0}}
        <li class="layui-nav-item">
            <a href="/backstage"><i class="layui-icon">&#xe60e;</i>后台管理</a>
        </li>
    {{end}}
    </ul>
</div>

<script>
    layui.use(['element', 'form'], function () {
        var element = layui.element;
        element.on('tab(test)', function (data) {
            console.log(this, data);
        });

        element.on('nav(test)', function (elem) {
            console.log(elem)
        });

        element.on('collapse(test)', function (data) {
            console.log(data);
        });
    });
</script>