<div id="header">
    <div style="width: 30%;margin: 5px 0px 0px 20px;float: left">
        <div style="float: left">
            <a href="/" style="color: white;">
                <div style="float: left;margin-top: 5px;">
                    <img src="{{.logo}}" class="img-rounded m-t-xs img-responsive"
                         style="width: 60px;height: 30px;">
                </div>
                <div style="float: right;margin-top: 5px;margin-left: 5px;">
                    <label style="color: #FBFBFB;font-size: 26px;">
                    {{.siteName}}
                    </label>
                </div>
            </a>
        </div>
    </div>
    <div style="width: 30%;margin: 10px 20px 0px 0px;float: right;">
    {{if .isLogin}}
        <div style="float: right">
            <a href="/backstage">
                <div style="float: right;margin-top: 5px;padding-left: 5px;">
                    <label style="color: #FBFBFB;">
                        后台管理
                    </label>
                </div>
            </a>
        </div>
    {{end}}
        <div style="float: right">
            <a href="{{if .isLogin}}/loginOut{{else}}/login{{end}}" style="color: white;">
                <div style="float: left;">
                    <img src="{{.img}}" class="img-circle m-t-xs img-responsive"
                         style="width: 30px;height: 30px;">
                </div>
                <div style="float: right;margin-top: 5px;padding-left: 5px;">
                    <label style="color: #FBFBFB;">
                    {{if .isLogin}}{{.userName}},退出{{else}}登录/注册{{end}}
                    </label>
                </div>
            </a>
        </div>
    </div>
    <div style="width: 30%;float: right;">
        <div style="margin-top: 10px;">
            <input style="height: 25px;width: 250px;">
        </div>
    </div>
</div>